.icons {
  margin-left: 2rem;
}

.icon {
  height: 3.125rem;
  width: 3.125rem;
  margin: 0.35rem;
  color: black;
}

.copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: .5rem 0rem;
}
