* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 12px;
}

.home {
  padding: 0 5vw;
}

.paragraph {
  width: 75%;
  margin: auto;
  font-size: 20px;
  padding: 10px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  margin: 5vh 0;
}

.box {
  /* width: 35vw;
  height: 35vw; */
  /* background-color: rgb(138, 190, 235); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.travel {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2% 1%;
    margin: auto;
}

.body {
  height: 85vh;
}

.travel h1 {
  font-size: 64px;
  color: #150a39;
}

.travel img {
  height: 15vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 85%;
  gap: 2vh;
}

.intro {
  display: flex;
}

.intro img {
  height: 15vh;
  margin: 0 3vw;
  border-radius: 7px;
}

.itinerary {
  margin: 4vh auto;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itinerary img {
  height: 30vh;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 15px;
  background-color: #5927ff;
  margin: 15px 0;
}

.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  color: white;
  background-color: #5927ff;
  border-radius: 17px;
  height: 35px;
  width: 150px;
  font-weight: bolder;
}

.btn:hover {
  background-color: #3a00fb;
  cursor: pointer;
  box-shadow: 2px 2px 7px #b4c2ff;
}

.radios {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

h1 {
  margin-left: 3vw;
}

.admin {
  width: 95vw;
  margin: auto;
}