* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 12px;
}

.home {
  padding: 0 5vw;
}

.paragraph {
  width: 75%;
  margin: auto;
  font-size: 20px;
  padding: 10px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  margin: 5vh 0;
}

.box {
  width: 35vw;
  height: 35vw;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

.travel h1 {
  font-size: 64px;
  color: #150a39;
}

.travel img {
  height: 15vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 85%;
  gap: 2vh;
}

.intro {
  display: flex;
}

.intro img {
  height: 15vh;
  margin: 0 3vw;
  border-radius: 7px;
}

.itinerary {
  margin: 4vh;
}

.itinerary img {
  height: 30vh;
}